{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
<div class="container myBackground">
<h1 class="display-4 text-center">Discussion Boards</h1>
<!--<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
</div>
</div>
<br>
<div class="card bg-light mb-3">
<div class="card-body">
<h6 class="font-weight-bold">What is Discussion Board?</h6>
<p class="card-text text-justify">Discussion topics for each type of crime is created in order to provide a platform to users (either victims, witnesses or anyone feels sensitive about the subject) where they can come together in one platform and can interact with each other, share their experiences, opinions or give advice.</p>
<br>
<h6 class="font-weight-bold">The main groups of discussion forums are constucted according to the type of crime entries; which are listed below:</h6>
<ul>
  <li><a href='#'>Sexual Abuse</a></li>
  <li><a href='#'>Emotional and/or Physical Abuse</a></li>
  <li><a href='#'>Financial Abuse</a></li>
  <li><a href='#'>Stalking</a></li>
</ul>

</div><!--Here ends the card-body-->
</div><!--Here ends the div class card itself-->
{% endblock%}
